<head>
    <link rel="stylesheet" type="text/css"  href="~/Content/Sign Up_In.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/StartPage.css" />
</head>
<body>
    <div class="main-form">
        <form method="post" action="">
            <i class="logo"></i>
            <input type="hidden" value="@ViewBag.User_ID" name="User_ID" />
            <input type="text" name="Name" placeholder="Name" value="" />
            <input type="text" name="Username"placeholder="Username" value="" />
            <input type="text" name="Email" placeholder="Email" value="">
            <input type="password" name="Password" placeholder="Password" value="" />
            <label>
                <input type="checkbox"> Remember me
            </label>
            <input type="submit" value="Sign Up">
            <div>
                <a title="">Already an account?</a>
                <a href="/Account/SignIn" title="">Sign In</a>
            </div>
        </form>
    </div>
</body>
