
@{
    ViewBag.Title = "DeleteBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MyLibrary.Models.Book
<fieldset>
    <h3>Title</h3>
    <p>
        @Html.DisplayFor(model => model.Title)
    </p>
   
    <br /><br />

    <h3>Author</h3>
    <p>
        @Html.DisplayFor(model => model.Author)
    </p>

    <br /><br />
        
    <h3 style="font-weight:bold">Price</h3>
    <p>
        @Html.DisplayFor(model => model.Price)
    </p>
</fieldset>

<br /><br />

@using (Html.BeginForm())
{
    <input type="submit" value="Delete!"/>
}

